* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;     
      background-color: #ffffff; 
}

.container {
      border: 2px solid #7979795b;   
      border-radius: 12px;       
      padding: 60px;            
      background-color: #cecece9d; 
      text-align: center;       
    }

#form-tarefa{
      margin-top: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
}

#form-tarefa input {

      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      gap: 40px;
}

#form-tarefa button {
      padding: 8px 12px;
      background-color: #00ccff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}